<html>
	<head>
		<title>Simple Chemical Compound Database</title>
		<style>
			body {
				font:15px arial,sans-serif;
			}
		
			.searchTD {
				font:12px arial,sans-serif;
			}
			
			.searchTH {
				font:13px arial,sans-serif;
				font-weight: bold;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<h1>Simple Chemical Compound database</h1>
		
		<div id="menu">
			<a href="/search">search</a>
			<a href="/export">export</a>
			<a href="/import">import</a>
		</div>
		
		<hr size="1">
		<br />