<html>
	<head>
		<title>Simple Compound Database</title>
	</head>
	<body>
		<h1>Simple Compound database</h1>
		<h2>demo links</h2>
		<a href="./list">lists all compounds</a><br />
		<a href="./compound/1">lists a single compound</a><br />
		<a href="./inchi/InChI=1S">lists all compounds with 'InChI=1S' in the InChI</a> (regex)<br />
		<a href="./elements/C6H1">lists all compounds with 'C6H1' in the elements</a> (regex)<br />
		<br />
		<a href="./inchi/InChI=1S/C6">lists all compounds with 'InChI=1S/C6' in the InChI</a> (regex)<br />
	</body>
</html>
