<html>
	<head>
		<title>Simple Chemical Compound Database</title>
	</head>
	<body>
		<h1>Simple Chemical Compound database</h1>		

		<table>
			<tr>
				<td valign="top" nowrap>
					<b>Search for CID</b>
					<form action="/search/searchByCid" method="post"> 
						<input type="number" name="cid" min="0" placeholder="Compound ID" value="${templateVars?.params?.cid ?: 1}">
						<input type="submit" value="Search" />
					</form>
					
					<br />
					<b>Search for InChI (includes partial search)</b>
					<form action="/search/searchByInChI" method="post"> 
						<input type="text" name="inchi" placeholder="Elements)" value="${templateVars?.params?.inchi ?: 'InChI=1S/C2'}" />
						<input type="submit" value="Search" />
					</form>

					<br />
					<b>Search for elemental formula (includes partial search)</b>
					<form action="/search/searchByElements" method="post"> 
						<input type="text" name="elements" placeholder="Elements)" value="${templateVars?.params?.elements ?: 'C2'}" />
						<input type="submit" value="Search" />
					</form>
				</td>
				<td valign="top">
					<%
						templateVars.each { 
							print '<b>' + it.key + '</b><br />'
							print '<pre>' + it.value + '</pre><br /><br />'
						}
					%>
				</td>
			</tr>
		</table>
	</body>
</html>
