<%=new File('./templates/_header.html').text%>		

		<table>
			<tr>
				<td style="padding:10px" valign="top" nowrap>
					<form action="/search/listAllCompounds" method="post"> 
						<input type="submit" value="List all compounds" />
					</form>
					
					<form action="/search/searchByCid" method="post"> 
						<input type="number" name="cid" min="0" placeholder="cid" value="${templateVars?.params?.cid ?: ''}" style="width:250px;">
						<input type="submit" value="Search for compound (cid)" style="width:200px;" />
					</form>
					
					<%
						templateVars.headers.each { header ->
					%>
							<form action="/search/searchBy_${header}" method="post"> 
								<input type="text" name="${header}" placeholder="${header}" value="${if (templateVars?.params && templateVars?.params[header]) { templateVars?.params[header] } else { '' } }" style="width:250px;"/>
								<input type="submit" value="Search for ${header}" style="width:200px;"/>
							</form>
					<%	
						}					
					%>
				</td>
				<td style="padding:10px" valign="top">
					
					<% if (templateVars?.params){ %>
						search <i>${templateVars?.urlparams?.method ?: ''}</i> with parameters: <b>${templateVars?.params?.collect { it }?.join(', ')}</b><br /><br />
					<% } %> 
					
					<% if (templateVars?.urlparams?.method){ %>
						<table>
							<tr><th class="searchTH">${templateVars?.headers?.collect { it }?.join('</th><th class="searchTH">')}</th></tr>
								<%
									templateVars[templateVars.urlparams.method].each { compoundProperty ->
										%>
											<tr><td class="searchTD">${templateVars?.headers?.collect { compoundProperty[it] }?.join('</td><td class="searchTD">')}</td></tr>
										<%
									}
								%>
						</table>
					<% } %>
				</td>
			</tr>
		</table>
		
<%=new File('./templates/_footer.html').text%>
